*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
component_ccr/build/
app/schemas/
core-database/schemas/com.mediosdepago.corpocredit.core.database.MerchantDatabase/1.json

app/schemas/com._3dlink.transactionsccr.v2.database.CcrDatabase/1.json

core-database/schemas/com.mediosdepago.corpocredit.core.database.databases.AppDatabase/1.json
core-database/schemas/com.mediosdepago.corpocredit.core.database.databases.BinesDatabase/1.json
core-database/schemas/com.mediosdepago.corpocredit.core.database.databases.MerchantDatabase/1.json
core-database/schemas/com.mediosdepago.corpocredit.core.database.databases.SignatureDatabase/1.json
core-database/schemas/com.mediosdepago.corpocredit.core.database.databases.TransactionDatabase/1.json
core-database/schemas/com.mediosdepago.corpocredit.core.database.TransactionDatabase/1.json
app/seeds.txt
app/unused.txt
app/release/app-release.apk
app/release/output-metadata.json
core-database/schemas/com.mediosdepago.corpocredit.core.database.databases.MerchantDatabase/2.json
*.hprof
core-database/schemas/com.mediosdepago.corpocredit.core.database.databases.TransactionDatabase/2.json
